<div class="contact-us">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 col-md-11 col-lg-10">
                <div class="heading">
                    <h4>Contact Us</h4>
                    <p>We’re Prime Plastics Packaging, an organization backed by over 100 years of experience, over 60 plants in the U.S. and Canada, and approximately 3,000 employees.</p>
                    <p>With a diverse stock bottle portfolio, more than 150 patents, and an innovative design team working to produce creative packaging solutions, we can help you find the perfect solution. Please fill out the form below. </p>
                </div>

                <form class="mt-5 mb-3">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="form-group mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="form-group mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="form-group mb-3">
                                <label class="form-label">Phone No.</label>
                                <input type="number" class="form-control" placeholder="Phone no.">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12">
                            <label class="form-label mb-1">Inquiry</label>
                            <select class="form-select mb-3">
                                <option selected>Reason for Inquiry</option>
                                <option value="1">Dairy</option>
                                <option value="2">Water</option>
                                <option value="3">Beverage</option>
                                <option value="4">Food</option>
                                <option value="5">Nutrition</option>
                                <option value="6">Household Chemical</option>
                                <option value="7">Specialty Chemical</option>
                                <option value="8">Automotive</option>
                                <option value="9">Health & Beauty</option>
                                <option value="10">Other</option>
                            </select>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="form-group mb-3">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control" placeholder="Plant Fill Location Street Address">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="form-group mb-3">
                                <label class="form-label">City</label>
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="form-group mb-3">
                                <label class="form-label">Comments</label>
                                <textarea class="form-control" rows="5" placeholder="Comments"></textarea>
                            </div>
                        </div>

                        <div class="contact-btn">
                            <a class="c-btn green">Submit</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>