@import "../../../styles.scss";

.contact-us{
    padding: 40px 0;
    .form-group{
        .form-label{
            margin-bottom: 3px;
        }
    }
    .form-select{
        height: 45px;
    }
    .contact-btn{
        margin-top: 25px;
        text-align: center;
        a{
            font-size: 15px;
            padding: 10px 30px;
            @include respond(mobile) {
                font-size: 17px;
            }
        }
    }
}

