.c-btn {
  .press{
    padding: 10px 15px;
    color: $white;
    border: 0;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    &.green {
      background: $greenGradient;
    }
    &.blue {
      background: $default;
    }
  }
}
