<div class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" ddata-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/sider2.jpeg" alt="First slide">
                <div class="custom-carousel-caption">
                    <h1>Best plastic bottles in town</h1>
                    <p>Always made right®</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/slider3.png" alt="Second slide">
                <div class="custom-carousel-caption">
                    <h1>We are a great company</h1>
                    <p>Always made right®</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/slider5.jpg" alt="Third slide">
                <div class="custom-carousel-caption">
                    <h1>All kinds of plastic available here</h1>
                    <p>Always made right®</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/slider1.jpg" alt="Third slide">
                <div class="custom-carousel-caption">
                    <h1>A place to happen with your dreams.</h1>
                    <p>Always made right®</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    
</div>