@import "../../../styles.scss";

.slider {
    .carousel-inner {
        .carousel-item {
            img {
                width: 100%;
                height: 92vh;
                display: block;
                object-fit: cover;
                object-position: center;
                filter: brightness(40%);
            }
            .custom-carousel-caption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h1{
                    font-size: 37px;
                    font-weight: 600;
                    color: white;
                }
                p{
                    font-size: 20px;
                    font-weight: 500;
                    color: white;
                }
            }
        }
    }
}
