<div class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" ddata-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/sider2.jpeg" alt="First slide">
                <div class="custom-carousel-caption">
                    <h1 class="animate__animated animate__fadeInDown">Leading the Way in Plastic Manufacturing Excellence</h1>
                    <p class="animate__animated animate__fadeInUp">Elevate your business with our top-tier plastic manufacturing solutions. With decades of industry experience, we're setting the standard for excellence and innovation.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/slider3.png" alt="Second slide">
                <div class="custom-carousel-caption">
                    <h1 class="animate__animated animate__fadeInDown">Quality Products for Every Need</h1>
                    <p class="animate__animated animate__fadeInUp">Discover our extensive range of high-quality plastic products designed to meet diverse industry requirements. From packaging materials to custom components, we deliver durability, reliability, and unmatched versatility.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/slider5.jpg" alt="Third slide">
                <div class="custom-carousel-caption">
                    <h1 class="animate__animated animate__fadeInDown">Sustainable Solutions for a Greener Future</h1>
                    <p class="animate__animated animate__fadeInUp">Join us in our commitment to sustainability and environmental stewardship. Our eco-friendly manufacturing processes and use of recyclable materials are paving the way for a greener, more sustainable future.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/slider1.jpg" alt="Third slide">
                <div class="custom-carousel-caption">
                    <h1 class="animate__animated animate__fadeInDown">Trusted Partner for Your Business Success</h1>
                    <p class="animate__animated animate__fadeInUp">Innovation is at the core of everything we do. With a relentless focus on customer needs and cutting-edge technology, we're constantly pushing the boundaries to deliver innovative solutions that exceed expectations.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="socials d-none d-lg-block">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
</div>