<div class="header">
    <div class="container">
        <div class="toggleContainer" (click)="toggleMenu()" [ngClass]="{'change': toggleButton}">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-2">
                <div class="logo py-3">
                    <a class="text-default" routerLink="/homepage">Prime Plastic.</a>
                </div>
            </div>

            <div class="col-10">
                <div class="nav">
                    <ul>
                        <li><a class="text-uppercase" routerLink="/home">Home</a></li>

                        <li class="dropdown">
                            <button class="dropbtn text-uppercase" routerLink="/why-us">Why Us</button>
                            <div class="dropdown-content">
                                <a routerLink="/why-us/overview">Overview</a>
                                <a routerLink="/why-us/customer-centric-approach">Customer Centric Approach</a>
                                <a routerLink="/why-us/the-team">The Team</a>
                            </div>
                        </li>

                        <!-- dropdown-icons btn -->
                        <li class="dropdown">
                            <button class="dropbtn text-uppercase" routerLink="/markets-serve">Markets We Serve</button>
                            <div class="dropdown-content">
                                <a routerLink="markets-serve/market-type"><img class="mr-2" src="../../../assets/img/icon1.png"> Water0</a>
                                <a routerLink="/"><img class="mr-2" src="../../../assets/img/icon1.png"> Water1</a>
                                <a routerLink="/"><img class="mr-2" src="../../../assets/img/icon1.png"> Water2</a>
                                <a routerLink="/"><img class="mr-2" src="../../../assets/img/icon1.png"> Water3</a>
                                <a routerLink="/"><img class="mr-2" src="../../../assets/img/icon1.png"> Water4</a>
                                <a routerLink="/"><img class="mr-2" src="../../../assets/img/icon1.png"> Water5</a>
                                <a routerLink="/"><img class="mr-2" src="../../../assets/img/icon1.png"> Water6</a>
                                <a routerLink="/"><img class="mr-2" src="../../../assets/img/icon1.png"> Water7</a>
                            </div>
                        </li>

                        <li><a class="text-uppercase" routerLink="/product-catalog">Product Catalog</a></li>
                        <li><a class="text-uppercase" routerLink="/clients">Clients</a></li>
                        <li><a class="text-uppercase mr-2" routerLink="/contact-us">Contact Us</a></li>

                        <div class="py-3">
                            <a href="tel:+923082108124" class="c-btn green">Call Now </a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar side" [ngClass]="{'show': sidebar}">
    <ul>
        <li><a (click)="toggleMenu()" routerLink="/home">Home</a></li>
        <li><a (click)="toggleMenu()" routerLink="/why-us">Why Us</a></li>
        <li><a (click)="toggleMenu()" routerLink="/markets-serve">Markets We Serve</a></li>
        <li><a (click)="toggleMenu()" routerLink="/product-catalog">Product Catalog</a></li>
        <li><a (click)="toggleMenu()" routerLink="/clients">Clients</a></li>
        <li><a (click)="toggleMenu()" routerLink="/contact-us">Contact Us</a></li>


        <div class="bottom-thing">
            <a href="tel:+923082108124"><i class="fas fa-question-circle"></i> Need Help ?</a>
        </div>
    </ul>
</div>

<div class="fade-area" [ngClass]="{'show': fadeSection}" (click)="toggleMenu()"></div>