<div class="header">
    <div class="container">
        <div class="toggleContainer" (click)="toggleMenu()" [ngClass]="{'change': toggleButton}">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-2">
                <div class="logo py-3">
                    <a class="text-default" routerLink="/home">Prime Plastics.</a>
                </div>
            </div>

            <div class="col-10">
                <div class="nav">
                    <ul>
                        <li><a class="text-uppercase" routerLink="/home">Home</a></li>

                        <li class="dropdown">
                            <button class="dropbtn text-uppercase" routerLink="/why-us">Why Us</button>
                            <div class="dropdown-content">
                                <a routerLink="/why-us/overview">Overview</a>
                                <a routerLink="/why-us/customer-centric-approach">Customer Centric Approach</a>
                                <a routerLink="/why-us/the-team">The Team</a>
                            </div>
                        </li>

                        <!-- dropdown-icons btn -->
                        <li class="dropdown">
                            <button class="dropbtn text-uppercase" routerLink="/markets-serve">Markets We Serve</button>
                            <div class="dropdown-content mega-menu" [ngClass]="rightItems?.length > 0 ? 'large' : 'small'">
                                <div class="d-flex justify-content-between">

                                    <div class="left" *ngIf="leftItems?.length > 0" 
                                        [ngClass]="rightItems?.length > 0 ? 'border-end w-50' : 'w-100'">
                                        <a routerLink="markets-serve/market-type" *ngFor="let item of leftItems" (click)="onDetailPage(item)">
                                            <img class="me-2" src="{{item.iconImg}}">
                                            <span>{{item.category}}</span>
                                        </a>
                                    </div>

                                    <div class="right w-50" *ngIf="rightItems?.length > 0">
                                        <a routerLink="markets-serve/market-type" *ngFor="let item of rightItems" (click)="onDetailPage(item)">
                                            <img class="me-2" src="{{item.iconImg}}">
                                            <span>{{item.category}}</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li><a class="text-uppercase" routerLink="/product-catalog">Product Catalog</a></li>
                        <li><a class="text-uppercase" routerLink="/clients">Clients</a></li>
                        <li><a class="text-uppercase mr-2" routerLink="/contact-us">Contact Us</a></li>

                        <div class="py-3">
                            <a href="tel:+923082108124" class="c-btn green">Call Now </a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar side" [ngClass]="{'show': sidebar}">
    <ul>
        <li><a (click)="toggleMenu()" routerLink="/home">Home</a></li>
        <li>
            <a (click)="toggleChild()" routerLink="/why-us">
                <span>Why Us</span>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <div class="sidebar side nested" [ngClass]="{'show': sidebarNested}">
                <ul>
                    <li>
                        <button class="btn border text-white" (click)="toggleChild()">
                            <i class="fa-solid fa-chevron-left pe-2"></i>
                            <span>Back</span>
                        </button>
                    </li>
                    <li><a (click)="toggleMenu(); toggleChild()" routerLink="/why-us/overview">Overview</a></li>
                    <li><a (click)="toggleMenu(); toggleChild()" routerLink="/why-us/customer-centric-approach">Customer Centric Approach</a></li>
                    <li><a (click)="toggleMenu(); toggleChild()" routerLink="/why-us/the-team">The Team</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a (click)="toggleChild()" routerLink="/markets-serve">
                Markets We Serve
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <div class="sidebar side nested" [ngClass]="{'show': sidebarNested}">
                <ul>
                    <li>
                        <button class="btn border text-white" (click)="toggleChild()">
                            <i class="fa-solid fa-chevron-left pe-2"></i>
                            <span>Back</span>
                        </button>
                    </li>
                    <li *ngFor="let item of leftItems" >
                        <a routerLink="markets-serve/market-type" (click)="toggleMenu(); toggleChild(); onDetailPage(item)">
                            <img class="me-2" src="{{item.iconImg}}">
                            <span>{{item.category}}</span>
                        </a>
                    </li>
                    <li *ngFor="let item of rightItems">
                        <a routerLink="markets-serve/market-type" (click)="toggleMenu(); toggleChild(); onDetailPage(item)">
                            <img class="me-2" src="{{item.iconImg}}">
                            <span>{{item.category}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a (click)="toggleMenu()" routerLink="/product-catalog">Product Catalog</a></li>
        <li><a (click)="toggleMenu()" routerLink="/clients">Clients</a></li>
        <li><a (click)="toggleMenu()" routerLink="/contact-us">Contact Us</a></li>


        <div class="bottom-thing">
            <a href="tel:+923082108124"><i class="fas fa-question-circle"></i> Need Help ?</a>
        </div>
    </ul>
</div>

<div class="fade-area" [ngClass]="{'show': fadeSection}" (click)="toggleMenu()"></div>