<section>
    <div class="dairy">
        <div class="position-relative">
            <div class="banner" [ngStyle]="{'background-image': 'url(' + data.sliderImg + ')'}"></div>
        </div>

        <div class="fill mt-5">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-10">
                        <div class="dairy-inner ">
                            <div class="top">
                                <img src="{{data?.iconImg}}">
                                <h4>{{data?.title}} | <strong>{{data?.category}}</strong></h4>
                            </div>

                            <h6>{{data?.description}}</h6>

                            <div class="img-text">
                                <img src="{{data.contentImg1}}">
                            </div>

                            <div class="texts">
                                <div class="row">
                                    <div class="col-12 col-md-7 col-lg-7">
                                        <div class="left">
                                            <p>We understand the dairy industry and what consumers are looking for.
                                                That’s why both large dairy corporations as well as smaller regional and
                                                family dairies rely on Altium Packaging to help grow their business and
                                                elevate their brands with the right packaging. </p>
                                            <p class="pt-2">With best in class packaging options, we provide
                                                tried-and-true designs as well as innovative custom solutions for milk,
                                                yogurt, drinkable yogurt, smoothies, and other dairy and dairy
                                                alternative products. With a company history that can be traced back
                                                over 100 years, Altium Packaging has established manufacturing processes
                                                that are consistent, reliable, and efficient. Customers can rest easy
                                                knowing we meet FDA requirements.</p>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-5 col-lg-5">
                                        <div class="right">
                                            <p>Almost half of our 60 facilities are equipped to make high-quality
                                                bottles for America’s dairy processors and their dairy farmers.</p>
                                            <div class="btn-text">
                                                <a class="bordered-btn">View On Sheet</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="centered">
                                <img src="../../../../assets/img/markets-serve/GettyImages-1194287257.jpg">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>