<div class="footer">
    <div class="container">
        <div class="row">
                
            <div class="col-12 col-md-4 col-lg-6">
                <h5 class="text-default">Prime Plastic</h5>
                <h6>2500 Windy Ridge Parkway SE</h6>
                <h6>Suite 1400</h6>
                <h6>Atlanta, GA 30339</h6>

                <p>California Transparency in Supply <br> Chains Act of 2010 (SB 657)</p>
            </div>

            <div class="col-12 col-md-3 col-lg-2">
                <h5 class="text-default">Company</h5>
                <a routerLink="/">Why Altium us</a>
                <a routerLink="/">Case Studies</a>
                <a routerLink="/">News</a>
                <a routerLink="/">Careers</a>
                <a routerLink="/">Intellectual Property</a>
            </div>

            <div class="col-12 col-md-3 col-lg-2">
                <h5 class="text-default">TERMS</h5>
                <a routerLink="/">Privacy Policy</a>
                <a routerLink="/">Terms & Conditions</a>
            </div>

            <div class="col-12 col-md-2 col-lg-2">
                <h5 class="text-default">Follow Us</h5>
                <a href="https://www.facebook.com">Facebook</a>
                <a href="https://www.linkedin.com/">linkedin</a>
                <a href="https://twitter.com">Twitter</a>
                <a href="https://www.instagram.com">Instagram</a>
            </div>
        </div>

        <div class="footer-bottom-section">
            <p>© 2022 Thrashtech Solutions. All Rights Reserved</p>
        </div>
    </div>
</div>