<div class="overview">
    <div class="banner" style="background-image: url(../../../../assets/img/why-us/overview-banner1.png)">
        <div class="container">
            <div class="banner-inner">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-6">
                       <div class="left-detail">
                            <img src="../../../../assets/img/why-us/overview1.png">
                            <h3>Why Prime Plastics.</h3>
                            <p>The leading, customer-centric packaging solutions provider to help elevate your brand. From the custom design and development to the manufacture and distribution of plastic packaging and recycled resin, whatever your needs might be, Prime Plastics Packaging can guarantee that they will be one thing—Always Made Right®.</p>
                       </div>
                    </div>
        
                    <div class="col-12 col-md-4 col-lg-6">
                        <div class="right-img">
                            <img src="../../../../assets/img/why-us/overview2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="overview-inner">

                    <div class="guiding">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 order-sm-1 order-md-2 order-lg-2">
                                <div class="right">
                                    <img src="../../../../assets/img/why-us/overview3.png">
                                </div>
                            </div>
            
                            <div class="col-12 col-md-6 col-lg-6 order-sm-2 order-md-1 order-lg-1">
                                <div class="left">
                                    <h5>Our Guiding Principles</h5>
                                    <p>At Prime Plastics Packaging, we have created a culture intended to help us build sustainable long-term value.</p>
            
                                    <div class="btn-guiding">
                                        <a class="c-btn blue">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="guiding">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 order-sm-1 order-md-1 order-lg-1">
                                <div class="right">
                                    <img src="../../../../assets/img/why-us/overview4.png">
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-6 col-lg-6 order-sm-2 order-md-2 order-lg-2">
                                <div class="left">
                                    <h5>Customer Centric Approach</h5>
                                    <p>We collaborate closely with our customers and bring our unmatched packaging expertise and an innovative approach to every challenge.</p>
            
                                    <div class="btn-guiding">
                                        <a class="c-btn blue">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="guiding">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 order-sm-1 order-md-2 order-lg-2">
                                <div class="right">
                                    <img src="../../../../assets/img/why-us/overview5.png">
                                </div>
                            </div>
            
                            <div class="col-12 col-md-6 col-lg-6 order-sm-2 order-md-1 order-lg-1">
                                <div class="left">
                                    <h5>The Team</h5>
                                    <p>Our senior leadership team brings together years of experience, diverse perspectives, and unique business insights. As experts in their respective fields, they share a vision that shapes our future.</p>
            
                                    <div class="btn-guiding">
                                        <a class="c-btn blue">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>