<section>
    <div class="contact">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="contact-inner">

                        <div class="left">
                            <img src="../../../assets/img/logo.PNG">
                        </div>

                        <div class="center">
                            <h4>Packaging Solutions Always Made Right®</h4>
                            <p>With a diverse stock bottle portfolio and an innovative design team working to produce creative packaging solutions, we can help you find the perfect solution.</p>
                        </div>

                        <div class="right">
                            <div class="btn-contact">
                                <a href="#">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>