@import "../../../styles.scss";

.contact{
    padding: 40px 0;
    background: $default;
    @include respond(mobile) {
        padding: 40px 20px;
        text-align: center;
    }
    .contact-inner{
        display: flex;
        justify-content: space-between;
        @include respond(mobile) {
            display: unset;
            justify-content: unset;
        }
        .left{
            margin: 0 10px;
            img{
                width: 100px;
                height: 100px;
                border-radius: 10px;
                @include respond(tablet) {
                    width: 80px;
                    height: 80px;
                }
            }
        }
        .center{
            margin: 0 10px;
            @include respond(mobile) {
                padding-top: 30px;
            }
            h4{
                font-size: 25px;
                color: $white;
                @include respond(tablet) {
                    font-size: 18px;
                }
                @include respond(mobile) {
                    font-size: 22px;
                }
            }
            p{
                font-size: 14px;
                color: $white;
                padding-top: 10px;
                @include respond(mobile) {
                    padding-top: 15px;
                }
            }
        }
        .right{
            margin: 0 10px;
            @include respond(mobile) {
                margin-top: 40px;
            }
            .btn-contact{
                width: 150px;
                height: auto;
                margin-top: 30px;
                @include respond(mobile) {
                    display: block;
                    margin: auto;
                    margin-top: unset;
                }
                a{
                    font-size: 15px;
                    font-weight: 500;
                    color: $black;
                    background-color: $white;
                    padding: 12px 28px;
                    border-radius: 4px;
                    &:hover {
                        color: $white;
                        background-color: $black;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}