@import "../../../styles.scss";

.product {
    padding: 40px 0;

    .catalog {
        margin-top: 40px;

        .plain-card {
            text-align: center;
            margin-top: 25px;

            img {
                width: 120px;
                height: auto;
                object-fit: cover;
                object-position: center;
            }

            h5 {
                color: $blue;
                font-size: 16px;
                font-weight: 500;
                padding-top: 15px;
            }

            p {
                color: $gray;
                font-size: 13px;
                padding-top: 6px;
            }

            .catalog-btn {
                margin-top: 35px;
            }
        }
    }
}